:root{
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-principal: #331d5f;
    --color-secundario: #ff0d86;
    --color-rojo: red;
    --color-gris: grey;
    --color-verde: green;
    --color-sobra: rgba(0, 0, 0, 0.7);
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
input{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    outline: none;
}
input:focus{
    border:1px solid var(--color-gris);
    color: var(--color-gris);
}
.hidden{
    visibility: hidden;
}
.mensajeError{
    color: var(--color-rojo);
}
.borderError{
    border:2px solid var(--color-rojo);
    color: var(--color-rojo);
}
.borderCorrecto{
    border: 2px solid var(--color-verde);
    color: var(--color-verde);
}
.header{
    background-color: var(--color-principal);
    padding: 0 2rem;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-icono , .nav-btn-menu{
    color: var(--color-blanco);
    font-size: 2rem;
}
.nav-btn-menu{
    border: 2px solid var(--color-blanco);
    border-radius: 5px;
}
.nav a{
    background-color: var(--color-principal);
    color: var(--color-secundario);
    display: none;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
}
.main{
    margin-top: 2rem;
}
.form{
    box-shadow: 1px 1px 5px var(--color-sobra);
    box-sizing: border-box;
    margin: auto;
    padding: 1rem;
    width: 90%;
    display:flex;
    flex-direction: column;
}
.form .boxinput:nth-child(7){
    display: flex;
    flex-direction: column;
}

.boxinput{
    border-bottom: 1px solid var(--color-negro);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.form .boxinput:nth-child(5) label:first-child ~ label{
    margin-left: 3rem;
}
.form .boxinput:nth-child(6){
    margin-top: 10px;
    margin-bottom: 10px;
}
.boxintereses{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}
.boxintereses label{
    margin-right: 20px;
}
.form .boxinput:nth-child(7){
    flex-direction: column;
    margin-bottom: 10px;
}
.form .boxinput:nth-child(7) select{
    margin: 10px 0px;
    padding: 5px 0px;
}
textarea{
    margin-bottom: 10px;
}
button{
    background-color: var(--color-secundario);
    border:none;
    border-radius: 5px;
    color: var(--color-blanco);
    padding: 10px;
    font-size: 1rem;
}
button:hover{
    background-color: var(--color-principal);
}
aside{
    display: none;
}
footer{
    background-color: var(--color-principal);
    box-sizing: border-box;
    color: var(--color-blanco);
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
}
footer span{
    color: var(--color-secundario);
}
.modal{
    background-color: var(--color-sobra);
    padding-top: 100px;
    display: none;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.modal-content{
    background-color: var(--color-blanco);
    border: 1px solid var(--color-gris);
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 30vh;
    position: relative;
    top: 15%;
}
.modal-content p{
    color:var(--color-verde);
    font-weight: bold;
}
.close{
    border:2px solid var(--color-rojo);
    border-radius: 5px;
    color: var(--color-rojo);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 6px;
    right: 6px;
}
.close:hover{
    background-color: var(--color-rojo);
    color: var(--color-blanco);
}
@media only screen and (min-width: 800px){
    .header{
        flex-direction: column;
        height: 20vh;
    }
    .header > span{
        margin-top:  10px;
    }
    .nav{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav > span{
        display: none;
    }
    .nav a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav a:hover{
        color: var(--color-blanco);
    }
    .form{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
    }
    .boxinput{
        width: 49%;
        border: none;
    }
    .boxinput > label{
        margin-bottom: 5px;
    }
    .boxintereses{
        width: 100%;
    }
    .form .boxinput:nth-child(7){
        flex-direction: column;
    }
    .form .boxinput:nth-child(7) select{
        width: 60%;
        height: 30px;
    }
    button{
        width: 100%;
    }
    .aside{
        background-color: red;
        height: 64vh;
        width: 15vw;
        display: block;
        position: fixed;
        top: 25%;
        right: 2%;
    }
    .aside img{
        width: 100%;
        height: 100%;
    }
}